// $dark: #272727;
// $light: #747474;
// $lighter: #cdcdcd;
// $red: #ff5a1e;
// $yellow: #ede464;
// $orange: #fa8128;
// // ffe400
// $green: #14a76c;
// $blue: #6495ED;


// new colours

$red: rgb(255, 69, 58);
$orange: rgb(255, 159, 10);
$yellow: rgb(255, 214, 10);
$green: rgb(48, 209, 88);
$mint: rgb(102, 212, 207);
$teal: rgb(64, 212, 224);
$cyan: rgb(100, 210, 255);
$blue: rgb(10, 132, 255);
$indigo: rgb(94, 92, 230);
$purple: rgb(191, 90, 242);
$pink: rgb(255, 55, 95);
$brown: rgb(172, 142, 104);

$grey-1: rgb(142, 142, 147);
$grey-2: rgb(99, 99, 102);
$grey-3: rgb(72, 72, 74);
$grey-4: rgb(44, 44, 46);
$grey-5: rgb(28, 28, 30);

$lgrey-1: rgb(252, 252, 252);
$lgrey-2: rgb(241, 241, 246);
$lgrey-3: rgb(200, 200, 210);
$lgrey-4: rgb(156, 156, 172);
