@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --sf-font-serif: 'Playfair Display', serif;
    --sf-font-sans: 'Noto Sans', sans-serif;

    --font-serif: var(--sf-font-serif);
    --font-sans: var(--sf-font-sans);
}