:root {
  --color-bg: #fcfcfc;
  --color-fg: #111;
  --color-primary: #{$indigo};
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

.material-symbols-outlined {
  user-select: none;
}